<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding-top: 10px;">
                <div class="card" >
                    <div class="header" style="padding-bottom: 15px;">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <h2 class="title"><b>Expenses</b></h2>
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="mat-elevation-z8">
                            <div class="table-responsive" style="height:300px;overflow-y: scroll;">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <td scope="col">
                                                SNo.
                                            </td>
                                            <td scope="col">
                                                Date
                                            </td>
                                            <td scope="col">
                                                Amount
                                            </td>
                                            <td scope="col">
                                                Remark
                                            </td>
                                            <td scope="col">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dynamic of formData?.tripTransTbl;let i =index">
                                            
                                            <td style="width: 5%;text-align: center;">
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" name="date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"
                                                        style="color: black;">
                                                        <mat-icon>date_range</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <input class="w100" type="number" style="height: 40px; margin-top: -15px;" />
                                            </td>
                                            <td>
                                                <input class="w100" type="text" style="height: 40px;margin-top: -15px;" />
                                            </td>
                                            <td>
                                                <button mat-icon-button type="button" (click)="deleteRow(i)">
                                                <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding: 10px;">
                        <button mat-raised-button style="background-color: #009688;margin-right: 5px;" (click)="onClick()">
                            <h2>Save</h2>
                        </button>
                        <button mat-raised-button style="background-color: #009688; float: right;" (click)="thisButton()">
                            <h2>Add More</h2>
                        </button>
                        <button mat-raised-button mat-dialog-close style="background-color: #009688;"><h2>Close</h2></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>